---
# Only the main Sass file needs front matter (the dashes are enough)
---

$base-font-family: Merriweather;
$base-font-size: 18px;
$base-line-height: 1.75;
$base-font-weight: 300;
$spacing-unit: ($base-font-size * $base-line-height);
$content-width: 768px;

$brand-color: #00c1a1;

@import "minima";

.site-header,
.site-footer,
.pagination {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 0.88em;
}

.site-header {
  border-top: none;
  min-height: $spacing-unit * 1.1729323308;
}

.avatar {
  float: left;
  width: 56px;
  height: 56px;
  border-radius: 56px;
  margin-right: 0.5em;
  position: relative;
  top: 8px;
}

.page-content {
  padding: 4rem 0;
}

.post-title {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0;
}

.post-link {
  font-weight: 900;
  font-size: 1em;
  color: inherit !important;
}

.post-meta {
  font-family: 'Open Sans';
  text-transform: uppercase;
  color: #555;
  font-weight: 400;
}

.post-list {
  .post-meta {
    position: relative;
    top: 8px;
  }

  h3 {
    margin-bottom: 0;
  }

  li {
    margin-bottom: 2 * $spacing-unit;
  }
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, iframe,
%vertical-rhythm {
  margin-bottom: $spacing-unit;
}

figcaption {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 0.75em;
  color: #555;
}


// Don't darken visited links
a:visited { color: $brand-color; }

pre, code {
  font-family: 'SFMono-Regular',Consolas,Liberation Mono,Menlo,Courier,monospace;
  background: rgb(243, 244, 244);
  border: none;
  border-radius: 0;
}

blockquote {
  color: #555;
  letter-spacing: inherit;
  font-style: inherit;
  margin: $spacing-unit 0;
  padding: 0 ($spacing-unit * 1.5);
  border-left: none;
  font-family: inherit;
  font-weight: inherit;
  font-size: 1.25em;
}

.post-list {
  h3 ~ h3 {
    display: none;
  }

  blockquote {
    font-size: 1em;
    color: inherit;
    margin-top: 0;
    padding: 0;
  }
}

figure.book-cover {
  float: right;
  width: 8em;
  margin-left: 1em;
}

.post-content {
  h3 {
    font-size: 1.125em;
    font-weight: 700;
    margin-bottom: 0;
  }
}

.post-list,
.post-content {
  u {
    text-decoration: none;
    background-color: #fffdbf;
    background-color: #fbf8d0;
  }
}

dl {
  dt {
    color: #111;
    font-family: 'Open Sans';
    font-weight: 700;
    float: left;
    clear: both;
    max-width: 7em;
  }

  dd {
    margin: .5em 0 .5em 8em;
  }
}

.page-number {
  padding: 0 1em;
}
